.drag-n-drop {
    margin-top: 5%;
    text-align: center;
    background-color: #63aa96;
    padding: 1.5em;
    width: 20em;
    height: 15em;
    font-size: 20px;
    justify-content: center;
}

.drag-n-drop-container {
    grid-row: 2;
    grid-column: 2;
    justify-content: center; /* Center horizontally */
    display: flex;
}

.collapsible-tree{
    grid-column: 1 / -1; /* Span across all columns */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically if you want it to be vertically centered as well */
}