/*

.button-column button,
.chart-revert-button,
.chart-update-button,
.chart-normal-graph-button,
.chart-dev-graph-button{
!*    width: 50px;
    height: 50px;*!
!*    border: 1px solid #ccc;*!
    background-color: white;
    color: black;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}


/*.normal-graph-button:hover,
.dev-graph-button:hover,
.chart-update-button:hover,
.chart-revert-button:hover,
.chart-back-button:hover{
    background-color: #555555;
    border-color: white;
}

.normal-graph-button:focus,
.dev-graph-button:focus,
.chart-update-button:focus,
.chart-revert-button:focus,
.chart-back-button:focus {
    outline: 20px auto -webkit-focus-ring-color;
}*/

/*@media (max-width: 1200px) {

    .drag-n-drop-container {
        grid-column: span 2;
        top: 20vh;
        left: 50%;
        transform: translateX(-50%);
    }

    .drag-n-drop {
        width: 40%;
        height: auto;
    }
}*/
