.main-container {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr; /* 3 columns, middle one is 5 times larger */
    grid-gap: 10px;
    flex: 1; /* Take up the remaining space */
    padding: 10px;
    box-sizing: border-box; /* Ensure padding is included in the element's total width and height */
}
