/*:root {
    !* Font and general styles *!
!*    line-height: 1.5;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;*!

    display: flex;
    flex-direction: column;
    height: 100%;
}*/

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    transition: background-color 0.5s ease, color 0.5s ease;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
