:root {
    --color-scheme: light dark;
    --txt-color: rgba(255, 255, 255, 0.87);

    --btn-bg-light: #72a695;
    --btn-bg-dark: #333333;
    --btn-txt-color-light: #ffffff;
    --btn-txt-color-dark: #72a695;
    --btn-hover-light: #213547;
    --btn-hover-dark: #ffffff;
    --btn-bg-hover-light: #9eddcc;
    --btn-bg-hover-dark: #868686;

    --bg-color: #212f36;
    --bg-img: url('./assets/images/darkmode/tactile_noise.webp');
    background-position: center;
    background-size: cover;

    --footer-bg-light: #63aa96;
    --footer-bg-dark: #333333;
    --footer-txt-color-light: #ffffff;
    --footer-txt-color-dark: #72a695;
    --footer-link-hover-light: #213547;
    --footer-link-hover-dark: #ffffff;

    /* Font and general styles */
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Light Mode Styles */
body.light-mode {
    --txt-color: #213547;

    --btn-bg: var(--btn-bg-light);
    --btn-txt-color: var(--btn-txt-color-light);
    --btn-txt-hover: var(--btn-hover-light);
    --btn-bg-hover: var(--btn-bg-hover-light);

    --bg-color: #ffffff;
    --bg-img: url('./assets/images/lightmode/dot_grid.webp');

    --footer-bg: var(--footer-bg-light);
    --footer-text-color: var(--footer-txt-color-light);
    --footer-link-hover: var(--footer-link-hover-light);
}

/* Dark Mode Styles */
body.dark-mode {
    --txt-color: #ffffff;

    --btn-bg: var(--btn-bg-dark);
    --btn-txt-color: var(--btn-txt-color-dark);
    --btn-txt-hover: var(--btn-hover-dark);
    --btn-bg-hover: var(--btn-bg-hover-dark);

    --bg-color: #121212;
    --bg-img: url('./assets/images/darkmode/tactile_noise.webp');

    --footer-bg: var(--footer-bg-dark);
    --footer-text-color: var(--footer-txt-color-dark);
    --footer-link-hover: var(--footer-link-hover-dark);
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Prevent body scroll */

    background-color: var(--bg-color);
    color: var(--txt-color);
    background-image: var(--bg-img);
    transition: background-color 0.3s ease, color 0.3s ease, background-image 0.3s ease;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

@media (prefers-color-scheme: light) {
    :root {
        --bg-color: #ffffff;
        --txt-color: #213547;
        --btn-bg: #72a695;
        --btn-txt-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
