.tree-update-button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.4em 0.8em;
    font-size: 16px;
    font-weight: 500;
    font-family: inherit;
    background-color: #63aa96;
    cursor: pointer;
    transition: border-color 0.25s;
    width: 10em;
    text-align: center;
    margin-right: 2%;
    z-index: 1000;

}

.tree-revert-button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.4em 0.8em;
    font-size: 16px;
    font-weight: 500;
    font-family: inherit;
    background-color: #63aa96;
    cursor: pointer;
    transition: border-color 0.25s;
    width: 10em;
    text-align: center;
    z-index: 1000;
}

.tree-back-button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.4em 0.8em;
    font-size: 16px;
    font-weight: 500;
    font-family: inherit;
    background-color: #63aa96;
    cursor: pointer;
    transition: border-color 0.25s;
    width: 10em;
    text-align: center;
    margin-right: 2%;
    z-index: 1000;
}

.tree-button-row {
    grid-column: 2;
    display: flex;
    justify-content: center;

    @media (max-width: 1200px) {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 5%;
    }
}

.tree-button button:hover {
    border-color: white;
}

.tree-button button:focus,
.tree-button button:focus-visible {
    outline: 20px auto -webkit-focus-ring-color;
}
