.tree-button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    margin: 1%;
}

.tree-button-row {
    grid-column: 2;
}

.tree-button button:hover {
    border-color: #63aa96;
}

.tree-button button:focus,
.tree-button button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}